:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.contactBanner {
  margin-top: -20rem;
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.contactBanner .bg-secondary {
  background: transparent !important;
}

.contactBanner .vstack.items-center.gap-2.lg\:gap-4.mb-4.sm\:mb-6.lg\:mb-8.max-w-750px.mx-auto.text-center {
  display: none;
}

.contactUs {
  background-image: url(/assets/images/cta-bg.webp);
  background-size: cover;
  color: #fff;
  border-radius: 1.5rem;
}

.contactUsCards {
  text-align: center;
}

.contactUsCards h6 {
  margin: 0rem;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.contactUsCards p {
  margin: 0rem;
  font-size: 17px;
  font-weight: 400;
}

.bannerBackground {
  background-image: url(../../public/assets/images/Image_1.jpg);
  background-Position: "50% 85%"

}

.pricingTwo section.pricingSection {
  background-color: #4b2fb2 !important;
}

.video-popup {
  background: none;
  border: none;
}

.integration-icons {
  width: 100%;
  max-width: 50rem;
}
.servicesFormPopup h5{
  font-weight: 700;
}
.servicesFormPopup h1{
  font-weight: 700;
}
.popup-image{
  width: 100%;
  max-width: 20rem;
}
.pricingCardsIpad{
  display: none;
}